$menu-color: #fff;
$menu-color-hover: #685cfe;
$menu-border-radius: 0px;

body {
    .menu {
        width: 90px;
        height: 100%;
        border-radius: 0 $menu-border-radius $menu-border-radius 0;
        position: relative;
        z-index: 100;

        svg {
            font-size: 30px;
        }
    }
}